/alex-muhich/follow-alongs/CarPractice/nbproject/private/
/alex-muhich/follow-alongs/CarPractice/build/
/alex-muhich/follow-alongs/CarPractice/dist/
/alex-muhich/follow-alongs/muhich_MonsterMash/nbproject/private/
/alex-muhich/follow-alongs/muhich_MonsterMash/build/
/alex-muhich/follow-alongs/muhich_SchoolDudes/nbproject/private/
/alex-muhich/follow-alongs/muhich_SchoolDudes/build/
/alex-muhich/follow-alongs/muhich_FileDemo/nbproject/private/