/alex-muhich/follow-alongs/CarPractice/nbproject/private/
/alex-muhich/follow-alongs/CarPractice/build/
/alex-muhich/follow-alongs/CarPractice/dist/
/alex-muhich/follow-alongs/muhich_MonsterMash/nbproject/private/
/alex-muhich/follow-alongs/muhich_MonsterMash/build/
/alex-muhich/follow-alongs/muhich_SchoolDudes/nbproject/private/
/alex-muhich/follow-alongs/muhich_SchoolDudes/build/
/alex-muhich/follow-alongs/muhich_FileDemo/nbproject/private/
/alex-muhich/follow-alongs/muhich_FileDemo/build/
/alex-muhich/follow-alongs/muhich_GroceryList/nbproject/private/
/alex-muhich/itdev140-assignments/assignment-6/muhich_GroceryList/nbproject/private/
/alex-muhich/itdev140-assignments/assignment-6/muhich_GroceryList/build/
/alex-muhich/follow-alongs/Muhich_ZooKeeper/nbproject/private/
/alex-muhich/follow-alongs/Muhich_ZooKeeper/build/
/alex-muhich/itdev140-assignments/assignment-7/Muhich_GUIBMI/nbproject/private/
/alex-muhich/follow-alongs/GUIPageLinking/nbproject/private/
/alex-muhich/follow-alongs/GUIPageLinking/build/
/alex-muhich/itdev140-assignments/assignment-7/Muhich_GUIBMI/build/
/alex-muhich/follow-alongs/Muhich_IndivProject/nbproject/private/
/alex-muhich/individual-project/Muhich_IndivProject/nbproject/private/
/alex-muhich/individual-project/Muhich_IndivProject/build/
/alex-muhich/individual-project/Muhich_IndivProject/dist/
/alex-muhich/follow-alongs/Muhich_GUILab/nbproject/private/
/alex-muhich/follow-alongs/Muhich_GUILab/build/
/alex-muhich/follow-alongs/MuhichCoffeeJDBC/nbproject/private/
/alex-muhich/follow-alongs/MuhichCoffeeJDBC/build/
/alex-muhich/follow-alongs/TeamLeft_GUIPizza/nbproject/private/
/alex-muhich/follow-alongs/TeamStageRight_GUIPizza/nbproject/private/
/alex-muhich/follow-alongs/TeamStageRight_GUIPizza/build/