/alex-muhich/follow-alongs/CarPractice/nbproject/private/
/alex-muhich/follow-alongs/CarPractice/build/
/alex-muhich/follow-alongs/CarPractice/dist/
/alex-muhich/follow-alongs/muhich_MonsterMash/nbproject/private/
/alex-muhich/follow-alongs/muhich_MonsterMash/build/
/alex-muhich/follow-alongs/muhich_SchoolDudes/nbproject/private/
/alex-muhich/follow-alongs/muhich_SchoolDudes/build/
/alex-muhich/follow-alongs/muhich_FileDemo/nbproject/private/
/alex-muhich/follow-alongs/muhich_FileDemo/build/
/alex-muhich/follow-alongs/muhich_GroceryList/nbproject/private/
/alex-muhich/itdev140-assignments/assignment-6/muhich_GroceryList/nbproject/private/
/alex-muhich/itdev140-assignments/assignment-6/muhich_GroceryList/build/
/alex-muhich/follow-alongs/Muhich_ZooKeeper/nbproject/private/
/alex-muhich/follow-alongs/Muhich_ZooKeeper/build/
/alex-muhich/itdev140-assignments/assignment-7/Muhich_GUIBMI/nbproject/private/
/alex-muhich/follow-alongs/GUIPageLinking/nbproject/private/
/alex-muhich/follow-alongs/GUIPageLinking/build/
/alex-muhich/itdev140-assignments/assignment-7/Muhich_GUIBMI/build/